.ipynb_checkpoints/
log_files/
**/text/*.aux
**/text/*.log
**/text/*.dvi
**/text/*.fdb_latexmk
**/text/*.fls
**/text/*.out
**/text/*.synctex.gz
data_draft/
data/
thermal_data/
spin_data/
spin_wf/
canonical_ent/
canonical_ln/
